body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f9f3f3;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

#game-section {
  margin-top: 50px;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.popup-content {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: black;
}

#fireworks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

#birthday-section {
  margin-top: 20px;
  padding: 20px;
}

.photo-collage img {
  max-width: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f06292;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #ec407a;
}

/* Animasi Kembang Api */
.firework {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  animation-name: explode;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes explode {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}
